#EXTM3U
#EXTINF:-1,EXP SHkence test
http://89.163.225.218:8080/live/testt/testtt/1.ts
 
 
#EXTINF:-1,EXP Natyre test
http://89.163.225.218:8080/live/testt/testtt/2.ts
 
 
 
#EXTINF:-1,Aksion
http://194.88.104.95:25461/live/mdEYBHN7MKF/srvM1Vfkr3/1328.ts
